<!DOCTYPE html>
<html lang='en-gb' ng-app='alchemy'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Goog Product Table</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='public/css/app.min.css' />
</head>
<body>
    <header class='global-header span'>
        <div class='inner content'>
            <a href='#'>Boom</a>
            <a href='./'>Google Tabularizationomaticatron-atron-atron 3000</a>
        </div>
    </header>

    <div class='global-content span' ng-controller='split'>
        <div ng-repeat='i in getNumber(nPages) track by $index' class='w50 fl-l'>
            <form class='data-input' ng-submit='alchemy($index)'>
                <input class='bigput' ng-model='page[$index].url' tabindex="{{$index+1}}" type='url' />
            </form>
            <section class='data-output'>
                {{page[$index].results}}
            </section>
        </div>
    </div>

    <footer class='global-footer span'>
        <div class='inner content'>
            2015 &copy; Boom
        </div>
    </footer>

    <script src="public/js/libs.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="public/js/app.min.js"></script>
</body>
</html>