<!DOCTYPE html>
<html lang='en-gb' ng-app='alchemy'>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CHRYSUS Literary Analysis</title>
    <meta content="Compare textual data." name="description">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='css/app.css' />
</head>

<body>
    <div class='container' ng-controller='split'>
        <header class="row">
            <h1>Literary Content Analyser</h1>
            <ul>
            	<li>Uses the <a href='http://www.alchemyapi.com/'>Alchemy API</a> to analyse &amp; compare texts</li>
                <li>Takes URL references or direct text input</li>
                <li>Can output CSV data, or PDF of page</li>
            </ul>
        </header>

        <hr>

        <div class='row'>
            <h3 class='col-xs-12'>Compare
                <label><input type='radio' ng-model='urlOrStr' value='url' /> URL</label>
                <label><input type='radio' ng-model='urlOrStr' value='str' /> Text</label>
            </h3>

            <form ng-show='urlOrStr === "url"' class='data-input'>
                <div ng-repeat='i in getNumber(nPages) track by $index' class='col-sm-6'>
                    <div class="form-group" >
                        <label ng-if='$index == 0'>Control page</label>
                        <label ng-if='$index == 1'>Test page</label>
                        <input ng-model='pages[$index].url' tabindex="{{$index+1}}" type='url' class="form-control" placeholder="URL" />
                    </div>
                </div>
            </form>
            <form ng-show='urlOrStr === "str"' class='data-input'>
                <div ng-repeat='i in getNumber(nPages) track by $index' class='col-sm-6'>
                    <div class="form-group" >
                        <label ng-if='$index == 0'>Control text</label>
                        <label ng-if='$index == 1'>Test text</label>
                        <textarea ng-model='pages[$index].text' tabindex="{{$index+1}}" class="form-control" placeholder="Text to test against"></textarea>
                    </div>
                </div>
            </form>
        </div>

        <center ng-show='urlOrStr'>
            <button ng-click='compare()' class='btn btn-primary btn-lg'><span ng-class="{'spinning glyphicon glyphicon-cog': !alchemyAccomplished && initialised}"></span> Compare</button>
            <button ng-click='print()' class='btn btn-secondary btn-lg'>PDF</button>
            <button id='downloadbtn' ng-click='jsonToCSV()' class='btn btn-secondary btn-lg'>Generate CSV</button>
			<a ng-show='download == true'class='btn btn-primary btn-lg' id='download' ng-click='downloaded()'>Download CSV</a>
        </center>
        <br>

        <article class='metric-row panel panel-default' ng-repeat='metric in metrics' ng-show='alchemyAccomplished'>
            <div class='panel-body'>
                <h2 class='metric-row__name center'>{{metric.name | capitalize}}</h2>
                <hr>
                <section class='metric-identical row'>
                    <h4 class='col-sm-3'>Identical {{metric.name}}</h4>
                    <div class='metric-row__set data-output col-sm-6'>
                        <!-- ?=> ENTITIES -->
                        <table ng-if='metric.name == "entities"' class="table">
                            <thead>
                                <th>Relevance</th>
                                <th>Frequency</th>
                                <th>Entity</th>
                                <th>Type</th>
                            </thead>
                            <tr ng-repeat='data in identical[metric.name]'
                                alchemy="metric.name" alchemy-row='data' ></tr>
                        </table>
                        <!-- ?=> CONCEPTS -->
                        <table ng-if='metric.name == "concepts"' class="table">
                            <thead>
                                <th>Relevance</th>
                                <th>Entity</th>
                            </thead>
                            <tr ng-repeat='data in identical[metric.name]'
                                alchemy="metric.name" alchemy-row='data' ></tr>
                        </table>
                        <!-- ?=> KEYWORDS -->
                        <table ng-if='metric.name == "keywords"' class="table">
                            <thead>
                                <th>Relevance</th>
                                <th>Entity</th>
                            </thead>
                            <tr ng-repeat='data in identical[metric.name]'
                                alchemy="metric.name" alchemy-row='data' ></tr>
                        </table>
                    </div>
                </section>
                <section class='metric-different'>
                    <!-- Toggle -->
                    <div class='toggle-data row'>
                        <h4 class='col-sm-12'>Differing {{metric.name}}</h4>
                        <div class='col-sm-12'>
                            <label class="checkbox-inline">
                                <input type='checkbox' ng-model='metric.generous' class='btn btn-default' />
                                <strong ng-show='metric.generous'>Hide</strong>
                                <strong ng-show='!metric.generous'>Show</strong>
                                <span>less relevant items</span>
                            </label>
                            <br>
                        </div>
                    </div>
                    <!-- -->
                    <div class='row'>
                        <div ng-repeat='i in getNumber(nPages) track by $index' class='metric-row__set data-output col-xs-6'>
                            <!-- ?=> ENTITIES -->
                            <table ng-if='metric.name == "entities"' class="table">
                                <tr ng-repeat='data in pages[$index].data[metric.name].unique'
                                    alchemy="metric.name" alchemy-row='data'
                                    ng-show='metric.generous || data.relevance > relThreshold'></tr>
                            </table>
                            <!-- ?=> CONCEPTS -->
                            <table ng-if='metric.name == "concepts"' class="table">
                                <tr ng-repeat='data in pages[$index].data[metric.name].unique'
                                    alchemy="metric.name" alchemy-row='data'
                                    ng-show='metric.generous || data.relevance > relThreshold'></tr>
                            </table>
                            <!-- ?=> KEYWORDS -->
                            <table ng-if='metric.name == "keywords"' class="table">
                                <tr ng-repeat='data in pages[$index].data[metric.name].unique'
                                    alchemy="metric.name" alchemy-row='data'
                                    ng-show='metric.generous || data.relevance > relThreshold'></tr>
                            </table>
                            <!-- ?=> RELATIONS -->
                            <table ng-if='metric.name == "relations"' class="table">
                                <tr ng-repeat='data in pages[$index].data[metric.name].unique'
                                    alchemy="metric.name" alchemy-row='data'></tr>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </article>

        <hr>
        <footer class="row">
            <p class="col-sm-12">
                <small>Created by them <a href="http://boom-online.co.uk"><b>Boom Online Marketing</b></a> folks</small>
            </p>
        </footer>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="js/jQuery.xml2json.js"></script>
    <script src="js/ui.js"></script>
</body>

</html>
