.w50 {
    width: 50%
}
.box {
    padding: 0;
    margin: 0;
    list-style: none
}
.block {
    display: block!important
}
.inline {
    display: inline!important
}
.inline-block {
    display: inline-block!important
}
.fl-l, .left {
    float: left
}
.fl-r, .right {
    float: right
}
.clearself:after {
    content: "";
    display: table;
    clear: both
}
.bg-fill, .w100 {
    width: 100%
}
.table {
    display: table!important
}
.tr {
    display: table-row!important
}
.td {
    display: table-cell!important
}
.aln-v-m {
    vertical-align: middle
}
.aln-v-t {
    vertical-align: top
}
.aln-v-b {
    vertical-align: bottom
}
.aln-h-l {
    text-align: left
}
.aln-h-r {
    text-align: right
}
.first {
    margin-left: 0
}
.last {
    margin-right: 0
}
.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center
}
.m0 {
    margin: 0
}
* {
    box-sizing: border-box
}
.content {
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto
}
.section {
    padding-top: 2%;
    padding-bottom: 2%
}
.entity-type {
    float: right
}
.rel-item {
    display: inline-block;
    position: relative;
    padding: 4px 5px;
    margin: 10px 0 1px;
    border: 2px solid #99eb47;
    border-radius: 3px;
    vertical-align: middle;
    text-align: center;
    max-width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis
}
.rel-subject {
    border-color: #47ebb4
}
.rel-action {
    border-color: #eb6347
}
.rel-location {
    border-color: #47cfeb
}
.rel-item__string {
    color: #1a3300;
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
[alchemy] {
    text-align: center
}
[alchemy] td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
[alchemy] td:hover, [alchemy] td:hover * {
    max-width: none;
    white-space: initial;
    overflow: visible
}
.rel-item__caption {
    position: absolute;
    bottom: 110%;
    left: 0;
    width: 100%;
    color: #777;
    font-size: 60%;
    font-weight: 700
}
.rel-arrow {
    display: inline-block;
    width: 10px;
    height: 7px;
    position: relative;
    vertical-align: middle
}
.rel-arrow:before {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    content: "";
    display: block;
    border: 7px solid transparent;
    border-left: 10px solid #99c270
}
