// table {
//     width: 100%;
//     max-width: 100%;
//     overflow: hidden;
//     border-collapse: collapse;
//     table-layout: auto;
// }

// td {
//     // width: 20% !important;
//     border-bottom: 1px solid #eee;
//     padding: 20px 10px;
// }

.bigput {
  width: 100%;
  text-align: center;
  font-size: 130%;
  padding: 20px;
}