.entity-type {
    float: right;
}

//////// RELATIONS

.rel-item {
  display: inline-block;
  position: relative;
  padding: 4px 5px;
  margin: 10px 0 1px;
  border: 2px solid hsl(90,80%,60%);
  border-radius: 3px;
  vertical-align: middle;
  text-align: center;
  max-width: 120px;
    white-space: nowrap;
    // overflow: hidden;
    text-overflow: ellipsis;
}
.rel-subject {
  border-color: hsl(160,80%,60%);
}
.rel-action {
  border-color: hsl(10,80%,60%);
}
.rel-location {
  border-color: hsl(190,80%,60%);
}
.rel-item__string {
    color: hsl(90,100%,10%);
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
[alchemy] td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    &, * {
      max-width: none;
      white-space: initial;
      overflow: visible;
    }
  }
}
.rel-item__caption {
  position: absolute;
  bottom: 110%;
  left: 0;
  width: 100%;
  color: #777;
  font-size: 60%;
  font-weight: bold;
}
.rel-arrow {
  display: inline-block;
  width: 10px;
  height: 7px;
  position: relative;
  vertical-align: middle;
}
.rel-arrow:before {
  position: absolute;
  top: 50%;
  transform: translate(0,-25%);
  content: "";
  display: block;
  border: 7px solid transparent;
  border-left: 10px solid hsl(90,40%,60%);
}