/* Helper classes */
//
.w100 { width: 100%; }
.w50 { width: 50%; }
.box {
    padding: 0;
    margin: 0;
    list-style: none;
}
.block { display: block !important; }
.inline { display: inline !important; }
.inline-block { display: inline-block !important; }
//
.left, .fl-l { float: left; }
.right, .fl-r { float: right; }
.clearself:after {
  content: "";
  display: table;
  clear: both;
}
//
.bg-fill, .w100 { width: 100%; }
//
.table { display: table !important; }
.tr { display: table-row !important; }
.td { display: table-cell !important; }
//
.aln-v-m { vertical-align: middle; }
.aln-v-t { vertical-align: top; }
.aln-v-b { vertical-align: bottom; }
.aln-h-l { text-align: left; }
.aln-h-r { text-align: right; }
//
//
.first { margin-left: 0px; }
.last { margin-right: 0px; }
//
.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.m0 {
    margin: 0;
}